@page
@model NguyenHuynhAnhTaiRazorPages.Pages.Login.LoginPageModel

@{
    ViewData["Title"] = "LoginPage";
}

<h2>Login</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div>
                <label asp-for="LoginAccount.AccountEmail" class="control-label">Email</label>
                <input asp-for="LoginAccount.AccountEmail" class="form-control" />
                <span asp-validation-for="LoginAccount.AccountEmail" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="LoginAccount.AccountPassword" class="control-label">Password</label>
                <input asp-for="LoginAccount.AccountPassword" class="form-control" />
                <span asp-validation-for="LoginAccount.AccountPassword" class="text-danger"></span>
            </div>
            <div style="margin-top: 2%">
                <button type="submit" asp-page-handler="Login">Login</button>
                <button type="submit" asp-page-handler="ViewNews">View News</button>
            </div>
        </form>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div style="color: red" id="error-message">@Model.ErrorMessage</div>
}

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const errorMessage = document.getElementById("error-message");
            if (errorMessage) {
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 2000); // 2000 milliseconds = 2 seconds
            }
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
